body{
    background-color: rgba(228, 19, 19, 0.712);

}
.title{

    text-align: center;
}
.calculadora{
 position: absolute;
 max-width: 1100px;
 background-color: #7c16b3;
 margin-left: 100px;
 margin-top: 200px;
 transform: translate(-50px,-50px);
 padding: 10px 0;
 justify-content: center;
  



}

button{

    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 1px;

   } 
.operadores{
    width: 50px;
    height: 50p;

    left: 100px;
  
    margin-left: 20px;
     
}

#resultado{
    background-color: beige;
    width: 281px;
    height: 30px;
    margin: 4px;
    padding: 1px 6px
}

.center{

    display: flex;
    margin:0 auto;
    max-width: 1100px;
    padding: 10px 0;
    justify-content: center;
  
  }
  
  .ImageUpload{
    max-width: 300px;
  
  
  }
  
  .centerUpload{
    justify-content: center;
  }